<!doctype html>
<html>
  <head>
    <style>
      body { 
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin:40px auto;
        max-width:650px;
        line-height:1.6;
        font-size:18px;
        color:#444;
        padding:0 10px;
      }
      
      h1,h2,h3 {
        line-height:1.2
      }
    </style>
  </head>
  <body>
    <h1>
      An example of smart contract gateway on IFTTT Platform!
      
      This could be a dapp launch page here used/redirected to by IFTTT actions, for end user contract/wallet scenarios.

    </h1>
     
  </body>
</html>